p {
  margin: 0;
  padding: 0;
}

.demo-container {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.demo-content {
  border-radius: 2px;
}

.demo-content-container {
  display: flex;
  flex-direction: column;
}

.demo-content {
  border: 1px black solid;
  background-color: #bed899;
  padding: 12px;
}

.demo-iframes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.demo-trusted-iframe {
  width: 49%;
  border: 1px black solid;
  background-color: #d3e8fa;
}

.demo-untrusted-iframe {
  width: 49%;
  border: 1px black solid;
  background-color: #fdcbcb;
}

.demo-geolocation-result {
  width: 80%;
  height: 50px;
  border: 1px black solid;
}

.demo-geolocation-latitude,
.demo-geolocation-longitude {
  margin-left: 5px;
}
